@import "./variables";
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap);

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
  background-color: $background-main;
  background-image: linear-gradient(315deg, $background-secondary, 0%,  74%);
  color: $text-color;
}
